<% provide(:title, 'About') %>
<div class = "about-container">
	<div class = "about-background">
		
	</div>
	<h5 class = "about-credit">Photos courtesy of Keenan Hursh and Liam Brozik.</h5>
	<div class = "about-text">
		<p>David, 19, is a Boulder, CO native who enjoys climbing, hiking and skiing in the high alpine. He is a recent Seattle, WA transplant where he attends the University of Washington and is pursuing degrees in Atmospheric Science and Applied Mathematics. His art mainly pertains to mountain landscapes that are inspired by the delicacies of the alpine environments and intricate patterns of untouched landscapes. </p>
		<br>
		<p>Feel free to contact him about any commissions, for sale items, or questions pertaining to his art.</p>
		<p>Email: <a href="mailto:bonan.dave@gmail.com">bonan.dave@gmail.com</a></p>
	</div>
	
</div>