<% provide(:title, "#{@image.title}") %>
<div class = "image-show" style="background-image: url('<%= @image.image_url %>');">
</div>
<h2 class = "image-show-title"><%= @image.title %></h2>
<% if @image.price? %>
	<h5 class = "image-price">$<%= @image.price %></h5>
<% end %>
<p class = "image-show-description"><%= @image.description %></p>