/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
margin: 0;
padding: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

img {
	padding: 0;
	margin: 0;
}

div{
   margin: 0px;
   padding: 0px;
}

table{
   margin: 0px;
   padding: 0px;
}
h1, h2, h3, h4, h5, p, ul, a {
   margin: 0px;
   padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

/* -- header css -- */

.header-container {
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.home-text {
	width: 280px;
	float: left;
}

#home-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #444;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	line-height: 80px;
	letter-spacing: 1px;
}

#home-text a {
	transition: color 0.3s;
}

#home-text a:hover {
	color: #2E94B9;
}

.header-nav {
	float: right;
	margin-right: 60px;
	height: 80px;
}

.header-nav p{
	line-height: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: #444;
	float: left;
}

#nav-links {
	margin-left: 25px;
	margin-right: 25px;
}

#icons, #footer-icon {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -2px;
}

.header-nav p a {
transition: color 0.3s;
}

.header-nav p a:hover {
	color: #267b9a;
}

.header-nav h5{
	margin-left: 10px;
	margin-right: 10px;
}

.icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-indent: 105%;
	white-space: nowrap;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	transition: all 0.3s;
}

.icon:hover {
	opacity: 0.6;
}

.active-nav{
	color: #267b9a;
	border-bottom: 1px dotted #267b9a;
}

.dropdown-menu {
	display: none;
	float: right;
	cursor: pointer;
}

.dropdown-icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-indent: 105%;
	white-space: nowrap;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-top: -2px;
}

.dropdown-menu p {
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	line-height: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: #444;
}

.side-menu {
	width: 240px;
	top: 80px;
	right: 0;
	position: absolute;
	height: 200px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	display: none;
	z-index: 40;
}

.side-menu ul {
	float: right;
	margin-top: 0px;
	text-align: right;
	list-style-type: none;
	margin-right: 60px;
}

.side-menu ul li {
	padding-top: 25px;
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: #444;
}

.show {
	display: block;
}

.artheader-container {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.artheader-nav {
	width: 300px;
	margin: 0 auto;
}

.artheader-nav p {
	display: inline-block;
	line-height: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: #444;
	float: left;
}


@media only screen and (max-width: 1007px)  {
	#icons {
		display: none;
	}
}

@media only screen and (max-width: 860px)  {
	#nav-links {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media only screen and (max-width: 800px)  {
	#nav-links {
		display: none;
	}

	.dropdown-menu {
		display: block;
	}

}

@media only screen and (max-width: 470px)  {
	.header-nav {
		margin-right: 20px;
	}

	.home-text {
		width: 180px;
		float: left;
		margin-left: 20px;
	}

	.side-menu ul {
		margin-right: 20px;
	}

	.side-menu {
		width: 190px;
	}
}




/* -- footer css -- */
.footer-container {
	width: 100%;
	height: 200px;
	margin-top: 120px;
}

.footer-divider {
	height: 1px;
	background-color: #D8D8D8;
	width: 660px;
	margin: 0 auto;
}

@media only screen and (max-width: 660px)  {
	.footer-divider {
		width: 100%;
	}
}

.footer-text {
	text-align: center;
	margin-top: -5px;
}

.footer-list {
	color: #737373;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -16px;
	letter-spacing: 1px;
}

.footer-social {
	margin: 18px auto;
	width: 16px;
	background-color: grey;
}

.footer-social p {
	float: left;
}

.copyright {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #68696e;
	text-align: center;
	margin-top: 8px;
}

.copyright a {
	color: #2E94B9;
	transition: all 0.3s;
}

.copyright a:hover {
	color: #68696e;
}


/* -- form css -- */
.blog-form-container {
  width: 50%;
  margin: 0 auto;
}

.blog-form-container p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.blog-form-container label {
    display:inline-block;
    float:left;
}

.blog-form-container input {
    height:30px;
    width:400px;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.blog-form-container textarea {width:700px; height: 240px;}
.blog-form-container button {margin-left:156px;}

.blog-form-container input:focus, .blog-form-container textarea:focus {
    outline: none;
}

.delete-image p {
	width: 120px;
	height: 30px;
	border: 1px solid #444;
	background-color: #444;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-family: 'Playfair Display', serif;
  	font-weight: 400;
  	transition: all 0.3s;
  	float: right;
  	margin-right: 380px;
  	margin-top: -45px;
}

.delete-image p:hover {
	background-color: #fff;
	color: #444;
}

#validation-error-message {
  width: 40%;
  text-align: center;
  font-size: 1.4em;
  margin: 0 auto;
  color: #D8000C;
  background-color: #FFBABA;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  border: 1px solid;
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}