<div class = "artheader-container">
	<div class = 'artheader-nav'>
		<p id = "nav-links"><%= link_to "Freelance", freelance_path, class: cp(freelance_path)%></p>
		<p id = "nav-links"><%= link_to "For Sale", shop_path, class: cp(shop_path)%></p>
	</div>
</div>