<div class = "footer-container">
	<div class = "footer-divider"></div>
	<h1 id = "home-text" class = "footer-text">David Bonan</h1>
	<h5 class = "footer-list">Artist • Climber • Scientist</h5>
	<h5 class = "copyright">Site designed by <a href="http://www.tombonan.me" target = "_blank">Tom Bonan</a></h5>
	<div class = "footer-social">
		<p id = "footer-icon"><a href="https://www.facebook.com/david.bonan.71" target = "_blank"><i class = "icon" style="background-image: url(<%= asset_path 'icons/facebook.png' %>) ;"></i></a></p>
		<p id = "footer-icon"><a href="https://www.instagram.com/david_bonan/" target = "_blank"><i class = "icon" style="background-image: url(<%= asset_path 'icons/instagram.png' %>) ;"></i></a></p>
		<p id = "footer-icon"><a href="https://www.linkedin.com/in/david-bonan-17240a115" target = "_blank"><i class = "icon" style="background-image: url(<%= asset_path 'icons/linked-in.png' %>) ;"></i></a></p>
	</div>
</div>