<div class = "footer-container">
	<div class = "footer-divider"></div>
	<h1 id = "home-text" class = "footer-text">David Bonan</h1>
	<h5 class = "footer-list">Illustration • Digital Art • Painting • Drawing</h5>
</div>