<div class = "header-container">
	<div class = "home-text">
		<h1 id = "home-text"><%= link_to "David Bonan", root_path %></h1>
	</div>
	<div class = "header-nav">
		<p><%= link_to "For Sale", shop_path, class: cp(shop_path) %></p>
		<p><%= link_to "Freelance Work", freelance_path, class: cp(freelance_path) %></p>
		<p><%= link_to "About & Contact", about_path, class: cp(about_path) %></p>
	</div>
</div>